# Build
build/
dist/
Overwatch Fucked Me.spec

# VS Code
.vscode/
__pycache__/

# Development
.other/
.saves/
Overwatch DataTool.lnk
Overwatch leaderboard-portrait dataset.lnk
Overwatch leaderboard-portrait dataset-1.lnk

# Runtime
out/state/*
