# Build
build/
dist/
Overwatch Fucked Me.spec

# VS Code
.vscode/
__pycache__/

# Development
.other/
.saves/
.old/

# Externals
Overwatch DataTool.lnk
Overwatch DataTool commands.txt
Overwatch leaderboard-portrait dataset.lnk

# Generated
out/state/*
out/imported/*
out/scraped/*

# Testing
test.json
test.py
